name: Deploy Docs to Cloudflare Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - uses: actions/checkout@v4

      - name: Dummy Frontend Files
        run: mkdir -p frontend/dist && echo "Dummy file" > frontend/dist/dummy.txt

      - name: Build Docs
        run: cargo doc --no-deps -p shared -p wings-api

      - name: Create Redirect
        run: echo "<meta http-equiv=\"refresh\" content=\"0; url=shared/index.html\">" > target/doc/index.html

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy target/doc --project-name=cratedocs-calagopus-com
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
